/* Audio Player Styles */
.audio__wrapper {
  width: 100%;
  height: 80px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #042330;
  padding: 0 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.audio__wrapper > div {
  width: calc(100% / 3);
}

.audio__track--wrapper {
  display: flex;
  gap: 12px;
}

.audio__track--image-mask {
  display: flex;
  max-width: 48px;
}

.audio__track--image {
  width: 100%;
  height: 100%;
}

.book__image--wrapper {
  width: 172px;
  height: 172px;
}

.book__image {
  width: 100%;
  height: 100%;
}

.audio__track--details-wrapper {
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.audio__track--title {
  color: #fff;
  font-size: 14px;
}

.audio__track--author {
  color: #bac8ce;
}

.audio__controls {
  gap: 24px;
}

.audio__controls,
.audio__controls--btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio__controls--btn {
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.audio__controls--btn svg {
  width: 28px;
  height: 28px;
  stroke: #fff;
  transition: all 0.2s;
}

.audio__controls--btn:hover svg {
  stroke: #2bd97c;
}

.audio__controls--btn svg path {
  stroke: #fff;
  stroke-width: 1.5px;
}

.audio__controls--btn-play {
  background-color: #fff;
  width: 40px;
  height: 40px;
}

.audio__controls--btn-play svg {
  color: #042330;
  stroke: none;
}

.audio__controls--play-icon {
  margin-left: 4px;
}

.audio__controls--wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.audio__progress--wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.audio__time {
  color: #fff;
  font-size: 14px;
}

.audio__progress--bar {
  border-radius: 8px;
  height: 4px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.audio__progress--bar::-webkit-slider-thumb {
  border: 6px solid #fff;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.audio__progress--bar::-moz-range-thumb {
  border: 6px solid #fff;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .audio__wrapper {
    height: 180px;
    padding: 16px 24px;
    flex-direction: column;
  }

  .audio__wrapper > div {
    width: 100%;
    justify-content: center;
  }

  .audio__track--image-mask {
    max-width: 80px;
  }
}
